html,body{
width: 100%;
height: 100%;
margin:0;
padding: 0;
font-weight: bold;
font-family: Merienda;
}

.sun{
height: 200px;
width: 200px;
}

.moon{
height: 200px;
width: 200px;

}


.day{
padding: 10px;
width: 250px;
background: #ffea00;
border-radius:20px;
color: coral;
box-shadow: 0 0 10px 10px #ffc000;
}

.night{
padding: 10px;
width: 250px;
background: #eee;
border-radius:20px;
color: rgb(106, 90, 205);
box-shadow: 0 0 10px 10px #fff;
}

